@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Gotham-Ultra";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham-Light";
}

/* Componentes */
.layout {
  background-color: #262626;
  display: flex;
  height: 100vh;
}

.izquierda {
  flex: 4;
  /* display: grid; */
  position: relative;
}

.izquierda > * {
  position: sticky;
  top: 0;
}

.nav {
  background-color: #262626;
  max-width: 90%;
}
.nav ul {
  top: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 2vh;
  padding-left: 6vw;
  width: 97%;
  font-size: 27pt;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #e9e9e9;
}

.nav ul li a:hover {
}

.footer {
  background-color: transparent;
  color: #e9e9e9;
}

.footer a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 14pt;
  position: absolute;
  bottom: 50px;
  left: 6vw;
}

.yo {
  width: 750px;
  height: 750px;
  margin: auto;
  padding-bottom: 3vh;
  position: absolute;
  top: 200px;
}

/* 
.parent {
  border: 1px solid #333;
  height: 250px;
  position: relative;
  width: 250px;
}
.child {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

.derecha {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  place-content: center;
}

.derecha img {
  width: auto;
  height: auto;
}

/* Ilustracion */
.derecha-2 {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  place-content: center;
  position: relative;
}
.titulo-proyecto {
  /* font-size: 108px;
  position: absolute;
  top: 30px; */
  display: none;
}
.proyecto-imagenes {
  padding-top: 150px;
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  place-content: center;
}
