@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Share Tech Mono";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono";
}

/* Componentes */
.layout {
  background-color: #262626;
}

.nav {
  background-color: #262626;
}
.nav ul {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 3vh;
  width: 100%;
  font-size: 21pt;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #e9e9e9;
}

.footer {
  background-color: transparent;
  color: #e9e9e9;
  bottom: 0;
}

.footer a {
  position: sticky;
  top: 0px;
  text-decoration: none;
  color: #e9e9e9;
  font-size: 14pt;
}

.yo img {
  position: sticky;
  top: 1px;
}

.layout {
  height: 100vh;
}
.layout > * {
  width: 50vw;
}

.derecha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  place-content: center;
}

.derecha img {
  width: auto;
  height: auto;
}

.izquierda div {
  position: sticky;
  top: -1px;
  min-height: 100vh;
  float: left;
}
