@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* Variables */
:root {
  --primario: #262626;
  --secundario: #000000;
  --font-base: "Share Tech Mono";
  --h1: 121px;
  --h2: 81px;
  --h3: 54px;
  --h4: 27px;
  --h5: 18px;
  --h6: 16px;
}

body {
  font-family: var(--font-base);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-base);
}

/* Componentes */
.layout {
  background-color: var(--primario);
}

.nav {
  background-color: var(--primario);
}
.nav ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  /* padding-left: 10vh;
  padding-right: 10vh; */
  padding-top: 3vh;
  width: 100%;
  font-size: 21pt;
}
.nav ul li {
  position: relative;
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  color: #e9e9e9;
}

.footer {
  background-color: #262626;
  color: #e9e9e9;
  /* padding-left: 10vh;
  margin-bottom: 10vh; */
  position: absolute;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 14pt;
}

.layout {
  /* display: flex; */
  height: 100vh;
}
.layout > * {
  /* flex: 1; */
  width: 50vw;
  border: 2px solid white;
}

.derecha {
  padding-top: 110px;
  /* flex: 1.1; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  place-content: center;
}

.derecha img {
  width: auto;
  height: auto;
}

.izquierda div {
  min-height: 100vh;
  position: fixed;
  float: left;
}
